@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
/* Global Tags */
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(36, 48, 110);
}
span {
    font-size: .9rem;
    color: #757373;
}
h6{
    font-size: 1.1rem;
    color: rgb(36, 48, 110);
}
.section-p1 {
    padding: 40px 80px;
}
.section-p2 {
    padding: 10px 120px;
}
.section-p3 {
    padding: 2px 80px 40px 80px;
}
.section-m1 {
    padding: 40px 0 0 0;
}
/* navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15); */
}
nav img{
    width:80px;
    cursor: pointer;
    border-radius: 80px;
    margin-left: 30px;
    margin-top: 10px;
}
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0vw 8vw;
    margin-left: 30px;
    list-style: none;
    

}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;

}
nav .navigation ul li a{
    text-decoration: none;
    /* color:rgb(36, 48, 110); */
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s ease;
}
nav .navigation ul li a:hover,
nav .navigation ul li a.active {
    color: rgb(36, 48, 110); 
}
nav .navigation .buttons {
    margin-left: 40px;
    display: block;
    margin-right: 10px;
}
nav .navigation .button {
    padding: 3px 12px;
    font-weight: 200;
    border-radius: 8px;
    background: #24306e;
    transition-property: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
nav .navigation .signup{
    padding: 3px 12px;
    font-weight: 200;
    border: 1px solid#fff;
    border-radius: 8px;
    background: transparent;
    transition-property: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
    text-decoration: none;
}
nav .navigation .signup:hover {
    color: rgb(36, 48, 110); 
}
.buttons>.button:not(:last-child) {
    margin-right: 10px;
   }
   
/* Home */
#home{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3),rgba(5,4,46,0.7)), url("pictures/background.jpg");
    width: 100%;
    height: 110vh;
    background-size: cover;
    background-position: center;
}
#home .home{
    padding: 55px 100px;
    display: flex;
    flex-direction: column;
    
    
    
}
#home .home h2{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
#home .home span{
    font-size: 30px;
    font-weight: 600;
}
#home .home p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
#home .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 10px;
    background-color: #24306e;
    font-weight: 500;
    border-radius: 25px;
}
#home .btn{
    margin-top: 30px;
}
#home .btn a:hover{
    color: #24306e;
    background-color: #fff;
    border: 1.5px solid #24306e;
}
/* info page */
main{
    margin: 0 auto;
    background: #fff;
    padding: 25px 50px 75px 100px;
    border-radius: 15px;
    margin-top: -50px;
}
/* main .content{
    display: flex;
    justify-content: center;
    padding-inline: 15px;
    
}
main .content img{
    width: 40%;
    height: auto;
    border-radius: 20px;
    margin-top: 40px;
    margin-right: -30px;
    padding-left: -30px;
}
main .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 10px;
    background-color: #24306e;
    font-weight: 500;
    border-radius: 25px;
    transition: 0.5s ease;
}
main .btn,
#info .btn,
#tag .btn,
#about-head .btn{
    margin-top: 30px;
}
main .btn a:hover{
    color: #24306e;
    background-color: #fff;
    border: 1.5px solid #24306e;
}
main .content .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 80px;
} */
main .content .text h2,
#info .texth2,
#about-head1 h2,
#about-head h2{
    color: #16100C;  
}
main .content .text p{
   text-align: center; 
   width: 200%;
}
/* #info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-inline: 15px;
}
#info img {
    width: 40%;
    height: auto;
    border-radius: 20px;
}
#info .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#info .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 10px;
    background-color: #24306e;
    font-weight: 500;
    border-radius: 25px;
    transition: 0.5s ease;
}
#info .btn a:hover{
    color: #24306e;
    background-color: #fff;
    border: 1.5px solid #24306e;
}
#info .text p{
   text-align: center; 
   width: 200%;
   
}
#tag {
    display: flex;
    justify-content: space-evenly;
}
#tag img {
    width: 40%;
    height: auto;
    border-radius: 20px;
}
#tag .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 80px;
}
#tag .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 10px;
    background-color: #24306e;
    font-weight: 500;
    border-radius: 25px;
    transition: 0.5s ease;
}
#tag .btn a:hover{
    color: #24306e;
    background-color: #fff;
    border: 1.5px solid #24306e;
}
#tag .text p{
   text-align: center; 
   width: 200%;
   
} */
#about-head {
    display: flex;
    align-items: center;
}
#about-head img {
    width: 45%;
    height: auto;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
#about-head div {
    padding-left: 50px;
    
}
#about-head div .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
#about-head div .text p{
    text-align: center; 
    
    
 }
 #about-head .btn,
 #about-head1 .btn{
    margin-top: 30px;
}
 #about-head .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 10px;
    background-color: #24306e;
    font-weight: 500;
    border-radius: 25px;
    transition: 0.5s ease;
}
#about-head .btn a:hover{
    color: #24306e;
    background-color: #fff;
    border: 1.5px solid #24306e;
}
#about-head1 {
    display: flex;
    align-items: center;
}
#about-head1 img {
    width: 45%;
    height: auto;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
#about-head1 div{
    padding-right: 50px;
    
}
#about-head1 div .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    vertical-align: text-top;
}
#about-head1 div .text p{
    text-align: center; 
    
    
 }
 #about-head1 .btn a,
 #scholarships .btn a{
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 8px 10px;
    background-color: #24306e;
    font-weight: 500;
    border-radius: 25px;
    transition: 0.5s ease;
}
#about-head1 .btn a:hover,
#scholarships .btn a:hover{
    color: #24306e;
    background-color: #fff;
    border: 1.5px solid #24306e;
}
/* scholarship pages */
#scholarships{
    text-align: center;
}
#scholarships .course-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap: 1.5rem;
    margin-top: 50px;
    
}
#scholarships .courses{
    text-align: start;
    background: #f9f9ff;
    height: 100%;
    justify-content: space-evenly;
    position: relative;
    border-radius: 15px;
}
#scholarships .courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
    transition: transform .2s;

}
#scholarships .courses .details{
    padding: 15px 15px 0 15px;
}
#scholarships .courses .details .btn{
 align-items: center;
}
#scholarships .btn {
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
#scholarships .courses .details i{
    color: #2E3441;
    font-size: 16px;
}
#scholarships .courses .details h6 a{
    cursor: pointer;
    text-decoration: none;
    color: #24306e;
}
.underline-hover-effect{
    /* display: inline-block; */
    padding-bottom: 0.15rem;
    position: relative;
}
.underline-hover-effect::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #24306e;
    transition: width 0.5s ease;
}
.underline-hover-effect:hover::before{
    width: 50%;
}#scholarships .courses .cost{
    background-color: rgb(74, 74, 136);
    color: #f9f9ff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #24306e;
    bottom: 16px;
    right: 32px;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gotopbtn.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
#registration{
    background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)),url("images/signup.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#registration .reminder{
     color: #fff;
}
#registration .reminder h1{
    color: #fff;
    font-size: 30px;
}
#registration .reminder .time{
    display: flex;
    margin-top: 40px;
}
#registration .reminder .time .date{
    text-align: center;
    padding: 3px 15px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 5px;
    margin: 0 5px 10px 5px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    font-size: 1.1rem;
    font-weight: 600;
}
#registration .form{
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 400px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}
#registration .form input{
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84, 40, 241);
    outline: none;
}
#registration .form input::placeholder{
    color: #413c3c;
    font-weight: 500;
    font-size: 0.9rem;
}
#registration .form .btn{
    margin-top: 20px;
}
#registration .form a.blue{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
    color: #fff;
    background: #fdc938;
    transition: 0.3s ease;
}
#registration .form a.blue:hover{
    color: #24306e;
    background: #fff;
    border: 1px solid #24306e;
}
footer{
    padding: 8vw;
    background-color: #24306e;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

