@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* root variables */
:root{
    --color-primary: #24306e;
    --color-danger: #be2326;
    --color-success: #46B469;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #354bf2;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light)
}
/* Dark Theme Variables */
.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-primary: #fff;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    /* --color-danger: #fff; */
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}
a{
    color: var(--color-info-dark);
}
img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: var(--color-info-dark);
}
p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem; 
}
aside{
    height: 100vh;
    
}
aside .top{
    /* background: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .logo img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}
aside .close{
    display: none;
}
/* sidebar */
aside .sidebar{
    /* background: #fff; */
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside h3{
    font-weight: 500;
}
aside .sidebar a{
    display: flex;
    color: var(--color-primary);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3rem;
    transform: all 300ms ease;
}
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
aside .sidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a:hover span{
    margin-left: 0.5rem;
}
aside .sidebar .message-count{
    background: var(--color-primary);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}
main{
    margin-top: 1.4rem;
}
main .user{
    display: inline-block;
    margin-top: 1rem;
}
main  .greet{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 1.6rem;
}
main .greet span{
    color: var(--color-warning);
}
main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}
main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    cursor: pointer;
}
main .insights > div:hover{
    box-shadow: none;
}
main .insights > div span{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}
main .insights > div.text span{
    background: var(--color-danger);
}
main .insights > div.search span{
    background: var(--color-success);
}
main .insights > div .middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .insights > div .middle h1{
    font-size: 20px;

}
main .like{
    margin-top: 2rem;
}
main .like h2{
    margin-bottom: 0.8rem;
}
main .like table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transform: all 300ms ease;
}
main .like table:hover{
    box-shadow: none;
}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
    border: none;
}
main .like a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
.right{
    margin-top: 1.4rem;
}
.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right .top button{
    display: none;
}
.right .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: var(--border-radius-1);
}
.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .theme-toggler span.active{
    background: var(--color-success);
    color: white;
    border-radius: var(--border-radius-1);
}  
.right .top .profile{
    text-align: right;
    display: flex;
    gap: 1rem;
}
.right .top .profile .info{
    margin-top: 1rem;
}
.right .levels{
    margin-top: 1rem;
}
.right .levels h2{
    margin-bottom: 0.8rem;
}
.right .levels .level{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right .levels .level:hover{
    box-shadow: none;
}
.right .levels .level .type{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.right .levels .level .type p{
    margin-top: 1rem;
    cursor: pointer;
}
.right .levels .level .type img{
    cursor: pointer;
}
.right .levels h2{
    text-align: center;
    justify-content: center;
}
.right  .shortcuts{
    margin-top: 0.8rem;
}
.right  .shortcuts h2{
    margin-bottom: 0.8rem;
}
.right .shortcuts .process,
.load{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 0.8rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease; 
    cursor: pointer;
}
.right .shortcuts .process:hover{
    box-shadow: none;
}
.right .shortcuts .process .right{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}
.right .shortcuts .process .icon{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    display: flex;
    background: var(--color-primary);
}
.right .shortcuts .process .return{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    display: flex;
    background: var(--color-warning);
}
.right .shortcuts .process .help{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    display: flex;
    background: var(--color-success);
}
.right .shortcuts .load{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.right .shortcuts .load:hover{
    background: var(--color-primary-variant);
    color: white;
    border: none;
}
.right .shortcuts .load div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.right .shortcuts .load div h3{
    font-weight: 600;
}
/* scholarship Page */
.scholar{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: 14rem auto; 
}
.scholar .theme{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    /* justify-content: space-evenly;
    align-items: flex-start; */
    
}

.scholar  .ham{
    display: none;
    margin-top: 6px;
    
}
.scholar .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.7rem;
    width: 3.8rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-right: 20px;
    margin-top: 6px;
}
.scholar .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scholar .theme-toggler span.active{
    background: var(--color-success);
    color: white;
    border-radius: var(--border-radius-1);
} 
.scholar .top1 .profile{
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    top: 6px;
    justify-content: space-between;
}
.scholar .top1 .profile .info{
    margin-right: 8px;
    margin-top: 6px;
}
.scholar .card-deck{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.results{
    position: absolute;
    left: 300px;
    top: 70px;
}
.results h2{
    font-size: 1rem;
}
.results span{
    font-size: 0.8rem;
}
 .search-form{
    position: absolute;
    right: 80px;
    top: 70px;
}
.search-form .search-bar{
    width: 100%;
    height: 40px;
    max-width:300px;
    background: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
    right: 80px;
    border-radius: 60px;
    padding: 10px 15px;
    border: 1px solid var(--color-primary);
    margin-top: -15px;
    margin-bottom: 2rem;
}
.search-form .search-bar input{
    background: none;
    padding: 2px 10px;
}
.search-form .search-bar input::placeholder{
    color: var(--color-primary);
    opacity: 1;
    font-weight: 500;
}
.search-form .search-bar i{
    align-items: right;
    position: absolute;
    right: 1.5rem;
    top: -2px;
}
.scholar .card-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px;
}
.card{
    position: relative;
    background: var(--color-white);
    max-width: 325px;
    width: 20rem;
    height: 15rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    overflow: hidden;
    transform: all 300ms ease;
    cursor: pointer;
    /* align-items: center;
    text-align: center;
    justify-items: center; */
}
.card:hover{
    box-shadow: none;
}
.card .info{
    padding: 15px 15px 0 15px;
}
.card .info h3{
    color: var(--color-primary);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.card .date{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.card span{
    color: var(--color-dark-variant);
    font-size: 16px;
    margin-top: 2.5px;
}
.card .heart{
    position: absolute;
    right: 30px;
    background: none;
    top: 10px;
}
.card .heart span{
    /* color: var(--color-primary); */
    font-size: 25px;
    cursor: pointer;
}
.card .date h3{
    font-size: 14px;
    color: var(--color-dark-variant);
}
.card .btn{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}
.card .btn {
   text-decoration: none;
   color: white;
   font-size: 0.9rem;
   padding: 5px 10px;
   background-color: #24306e;
   font-weight: 500;
   border-radius: 25px;
   transition: 0.5s ease;
   margin: 5px 90px;
}
.card .btn:hover{
   color: #24306e;
   background-color: white;
   border: 1px solid var(--color-primary);
}
.scholar .underline-hover-effect{
    /* display: inline-block; */
    padding-bottom: 0.15rem;
    position: relative;
}
 .scholar .underline-hover-effect::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.5s ease;
}
 .scholar .underline-hover-effect:hover::before{
    width: 80%;
}
.pagination{
    text-align: center;
    margin: 10px 10px auto;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: var(--box-shadow);
}
.pagination li a{
    color: var(--color-white);
    font-size: 1.2rem;
    line-height: 45px;
}
.previous-page, .next-page{
    background: var(--color-primary);
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;

}
.previous-page:hover{
    transform: translateX(-5px);
}
.next-page:hover{
    transform: translateX(5px);
}
.current-page, .dots{
    background: var(--color-dark-variant);
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .active{
    background: var(--color-primary);
}
.pagination .disable{
    background: var(--color-dark-variant);
}
/* scholarship meadia screen */
@media screen and (max-width:1200px) {
    .scholar{
        width: 94%;
        grid-template-columns: 7rem auto;
    }
    .scholar .card-content{
        grid-template-columns: repeat(2, 1fr);
    }
    /* .search-form{
        right: 150px;
        top: 120px;
    } */
    .results{
        position: absolute;
        left: 200px;
        top: 50px;
    }
}
@media screen and (max-width:950px) {
    .scholar{
        width: 94%;
        grid-template-columns: 7rem auto;
    }
    
}
@media screen and (max-width:790px) {
    .scholar{
        grid-template-columns: 1fr;
    }
    @keyframes showMenu {
        to{
            left: 0;
        }
    }
    .scholar .card-deck{
        margin-top: 0.2rem;
        margin-left: 0px;
    }
    .search-form{
        right: 100px;
        top: 120px;
    }
    .results{
        position: absolute;
        left: 100px;
        top: 110px;
    }
    /* .pagination{
        width: 25rem;
        margin-left: -2px;
    } */
    .card{
        margin-left:0px;
    }
    .scholar .card-content{
        grid-template-columns: repeat(2, 1fr);
    }
  
    .scholar .top1{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);

    }
    .scholar .top1 .ham{
        display: initial;
    }
    .scholar .top1 .toggle{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    .scholar .top1 button .ham{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }
    .scholar .profile .info{
        display: none;
    }
    .scholar .top1 button span{
        font-size: 2rem;
    }
}
@media screen and (max-width:440px){
    .scholar .card-content{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
    }
    /* /* .pagination li{
        width: 8rem;
    } /*
    .previous-page, .next-page{
        width: 8rem;
    } */
    .scholar .card-deck{
        margin-top: 0.2rem;
    }
    .search-form{
        right: 8px;
        top: 120px;
    }
    .results{
        position: absolute;
        left: 30px;
        top: 120px;
    }
    .pagination{
        width: 20rem;
        margin-left: -2px;
    }
    .card{
        margin-left:0px;
    }
    .scholar .top1{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);

    }
    .scholar .top1 .ham{
        display: initial;
    }
    .scholar .top1 .toggle{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    .scholar .top1 button .ham{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }
    .scholar .profile .info{
        display: none;
    }
    .scholar .top1 button span{
        font-size: 2rem;
    }
}
/* wallet page */
.scholar .top .profile{
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    top: 10px;
    justify-content: space-between;
}
.scholar .top .profile .info{
    margin-right: 8px;
    margin-top: 10px;
}
.wrapper{
    width: 600px;
    height: auto;
    background: var(--color-white);
    border-radius: 16px;
    padding: 20px;
    margin-left: 150px;
    margin-top: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .wrapper header{
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
    position: relative;
  }
  header label{
    height: 100%;
    z-index: 2;
    width: 30%;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }
  #tab-1:checked ~ header .tab-1,
  #tab-2:checked ~ header .tab-2,
  #tab-3:checked ~ header .tab-3{
    color: var(--color-white);
  }
  header label:nth-child(2){
    width: 40%;
  }
  header .slider{
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: var(--color-primary);
    transition: all 0.3s ease;
  }
  #tab-1:checked ~ header .slider{
    left: 5%;
    width: 90px;
    transform: translateX(5%);
  }
  #tab-2:checked ~ header .slider{
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
  }
  #tab-3:checked ~ header .slider{
    left: 95%;
    width: 95px;
    transform: translateX(-105%);
  }
  .wrapper input[type="radio"]{
    display: none;
  }
  .card-area{
    overflow: hidden;
  }
  .card-area .cards{
    display: flex;
    width: 300%;
  }
  .cards .row{
    width: 33.4%;
  }
  .cards .row-1{
    transition: all 0.3s ease;
  }
  #tab-1:checked ~ .card-area .cards .row-1{
     margin-left: 0%;
  }
  #tab-2:checked ~ .card-area .cards .row-1{
    margin-left: -33.4%;
  }
  #tab-3:checked ~ .card-area .cards .row-1{
     margin-left: -66.8%;
  }
  .row .price-details,
  .history,
  .refund{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--color-primary);
  }
  .price-details .price{
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    color: var(--color-success);
  }
  .price-details .price::before,
  .price-details .price::after{
    position: absolute;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
  .price-details .price::before{
    content: "KES";
    left: -35px;
    top: 20px;
    font-size: 20px;
    font-weight: 500;
  }
  .refund span,
  .history span{
    font-size: 3rem;
    color: var(--color-primary);
  }
  /* .price-details .price::after{
    content: "/mon";
    right: -33px;
    bottom: 17px;
    font-size: 13px;
  } */
  .price-details p,
  .history p,
  .refund p{
    font-size: 18px;
    margin-top: 5px;
    color: var(--color-primary);
  }
  .row .features li{
    display: flex;
    font-size: 15px;
    list-style: none;
    margin-bottom: 10px;
    align-items: center;
  }
  .features li i{
    background: var(--color-primary);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  }
  .features li span{
    margin-left: 10px;
    font-size: 18px;
  }
  .wrapper button{
    width: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    height: 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(145deg, var(--color-dark-variant) 0%, var(--color-success) 100%);
    transition: transform 0.3s ease;
  }
  .wrapper button:hover{
    transform: scale(0.98);
  }
  .row table{
    background: var(--color-white);
    width: 100%;
    text-align: center;
}
.row table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
.row table tbody tr:last-child td{
    border: none;
}
/* .row table{
    align-items: center;
    text-align: center;
    justify-content: center;
} */
/* wallet media queries */
@media screen and (max-width:1200px) {
    .wrapper{
        width: 700px;
        margin-left: 50px;
        margin-top: 40px;
        box-sizing: border-box;
      }
      #tab-1:checked ~ header .slider{
        left: 8%;
        width: 90px;
        transform: translateX(5%);
      }
      #tab-2:checked ~ header .slider{
        left: 50%;
        width: 120px;
        transform: translateX(-50%);
      }
      #tab-3:checked ~ header .slider{
        left: 93%;
        width: 95px;
        transform: translateX(-105%);
      }
}
@media screen and (max-width: 920px){
    .wrapper{
        width: 620px;
        margin-left: auto;
        margin-top: 40px;
      }
      #tab-1:checked ~ header .slider{
        left: 6%;
      }
      #tab-3:checked ~ header .slider{
        left: 94%;
      }
}
@media screen and (max-width:500px) {
    .wrapper{
        width: 350px;
        margin-left: -5px;
        margin-top: 10px;
      }
      #tab-1:checked ~ header .slider{
        left: 2%;
        width: 75px;
      }
      #tab-2:checked ~ header .slider{
        width: 80px;
      }
      #tab-3:checked ~ header .slider{
        left: 100%;
        width: 80px;
      }
}
@media screen and (max-width:400px) {
    #tab-1:checked ~ header .slider{
        left: 1%;
        width: 70px;
      }
    .wrapper{
        margin-left: -8px;
        width: 330px;
      }
}
@media screen and (max-width:365px) {
    #tab-1:checked ~ header .slider{
        left: 1%;
        width: 70px;
        
      }
    .wrapper{
        margin-left: -10px;
        width: 300px;
        margin-top: -5px;
      }
}
@media screen and (max-width:300px) {
    #tab-1:checked ~ header .slider{
        left: -1%;
        width: 60px;  
      }
      #tab-2:checked ~ header .slider{
        left: 50%;
        width: 80px;  
      }
      #tab-3:checked ~ header .slider{
        left: 100%;
        width: 65px;  
      }
    .wrapper{
        margin-left: -10px;
        width: 250px;
        margin-top: -5px;
      }
}
/* college list page */
.table{
    width: 800px;
    border-radius: 12px;
    margin-left: 4rem;
    margin-top: 4rem;
    text-align: center;
}
.table-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 5px;
    flex-wrap: wrap;
}
.table-header p{
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    
}
.read{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px 2px;
    text-decoration: none;
    color: white;
    background-color: var(--color-success);
}
.table-header .search-bar{
    border: 1px solid var(--color-primary);
    border-radius: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}
.search-bar input{
    align-items: center;
    text-align: center;
    justify-content: center;
    background: none;
    padding: 10px 20px;
   
}
::placeholder{
    color: var(--color-primary);
    font-weight: 500;
}
.search-bar i{
    position: absolute;
    font-size: 18px;
    right: 10px;
    top: 5px;
}
.table-section{
    height: 650px;
    overflow: auto;
}
.table-section table{
    width: 100%;
    table-layout: fixed;
    
}
.table-section .echo_text{
    font-size: 22px;
    color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
}

.table-section table thead th{
    position: sticky;
    top: 0;
    background-color: var(--color-info-light);
    color: #24306e;
    font-size: 15px;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}
.table-section table thead td{
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}
tr:hover td{
    color: #24306e;
    cursor: pointer;
    background-color: #f6f9fc;
}
.table-section button{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
}
.table-section button:nth-child(1){
    background-color: var(--color-success);
    color: var(--color-white);
}
.table-section .delete{
    background-color: var(--color-danger);
    color:#fff;
}
.table-section .btn_a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2px;
}
::-webkit-scrollbar{
    height: 5px;
    width: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgb(0,0,0.3);
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgb(0,0,0.3);
}
.table-section .pagination{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 20px;
}
.table-section .pagination div{
    padding: 10px;
    border: 1px solid var(--color-white);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24306e;
    color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    margin: 0 5px;
    cursor: pointer;
}
/* college list media screen */
@media screen and (max-width: 1200px){
    .table{
        margin-left: 2rem;
    }
}
@media screen and (max-width: 1000px){
    .table{
        width: 700px;
        margin-left: 0.5rem;
    }
}
@media screen and (max-width: 900px){
    .table{
        width: 650px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 800px){
    .table{
        width: 600px;
        margin-left: 30px;
    }
    .table-section table thead th{
        font-size: 12px;
    }
    .table-section table{
        width: 100%;
        table-layout: fixed;
        
    }
}
@media screen and (max-width: 500px){
    .table{
        width: 350px;
        margin-left: -5px;
        margin-top: 0rem;
    }
    .table-section table thead th{
        font-size: 10px;
    }
}
@media screen and (max-width: 379px){
    .table{
        width: 320px;
        margin-left: -10px;
        margin-top: 0rem;
    }
}
/* Application Process */
.process{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: 14rem auto; 
}
.process .theme{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    /* justify-content: space-evenly;
    align-items: flex-start; */
    
}

.process  .ham{
    display: none;
    margin-top: 6px;
    
}
.process .theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.7rem;
    width: 3.8rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-right: 20px;
    margin-top: 6px;
}
.process.theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.process .theme-toggler span.active{
    background: var(--color-success);
    color: white;
    border-radius: var(--border-radius-1);
} 
.process .top1 .profile{
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: row;
    top: 6px;
    justify-content: space-between;
}
.process .top1 .profile .info{
    margin-right: 8px;
    margin-top: 6px;
}
.process .wrapper1{
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    width: 950px;
    margin-left: 20px;
    position: relative;
}
.wrapper1 .text{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.5rem;
    background: var(--color-white);
    border-radius: 5px;
    padding: 2px;
    width: auto;
}
.wrapper1 .center-line{
    position: absolute;
    height: 100%;
    width: 4px;
    background: var(--color-primary);
    left: 50%;
    transform: translateX(-50%);
    top: 68px;
}
.wrapper1 .row{
    display: flex;
    justify-content: flex-start;
}
.wrapper1 .row-1{
    justify-content: flex-start;
}
.wrapper1 .row-2{
    justify-content: flex-end;
}
.wrapper1 .row section{
    background: var(--color-white);
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}
.wrapper1 .row section::before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background:var(--color-white);
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}
.row-1 section::before{
    right: -6px;
}
.row-2 section::before{
    left: -6px;
}
.row section .icon,
.center-line .scroll-icon{
    position: absolute;
    background: var(--color-white);
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    color: var(--color-primary);
    font-size: 16px;
    box-shadow: var(--box-shadow);
}
.center-line .scroll-icon{
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}
.row-1 section .icon{
    right: -60px;
    top: 13px;
}
.row-2 section .icon{
    left: -60px;
    top: 13px;
}
.row section .details,
.row section .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row section .details .title{
    font-size: 16px;
    font-weight: 500;
}
.row section p{
    margin: 10px 0 17px 0;
}
.row section .bottom a{
    background: #24306e;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 12px;
}
@media screen and (max-width:1200px) {
    .process{
        width: 94%;
        grid-template-columns: 7rem auto;
    }
    .process .wrapper1{
        width: 850px;
        margin-left: 0px;
        
    }
}
@media screen and (max-width:950px) {
    .process{
        width: 94%;
        grid-template-columns: 7rem auto;
    }
    .process .wrapper1{
        width: 700px;
        margin-left: 0px;
        
    }
}
@media screen and (max-width:790px) {
    .process{
        width: 100%;
        grid-template-columns: 1fr;
    }
    @keyframes showMenu {
        to{
            left: 0;
        }
    }
    .process .wrapper1{
        width: auto;
        margin-left: auto;
        margin-top: 0px;
    }
    .wrapper1 .center-line{
        left: 40px;
    }
    .wrapper1 .row{
        margin: 30px 0 3px 60px;
    }
    .wrapper1 .row section{
        width: 100%;
    }
    .row-1 section::before{
        left: -7px;
    }
    .row-1 section .icon{
        left: -60px;
    }
    .process .top1{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);

    }
    .process .top1 .ham{
        display: initial;
    }
    .process .top1 .toggle{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    .process .top1 button .ham{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }
    .process .profile .info{
        display: none;
    }
    .process .top1 button span{
        font-size: 2rem;
    }
}
@media screen and (max-width:440px){
    .wrapper1 .center-line,
    .row section::before,
    .row section .icon{
        display: none;
    }
    .wrapper1 .row{
        margin: 10px 0;
    }
    .process .top1{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);

    }
    .process .top1 .ham{
        display: initial;
    }
    .process .top1 .toggle{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    .process .top1 button .ham{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }
    .process .profile .info{
        display: none;
    }
    .process .top1 button span{
        font-size: 2rem;
    }
}
/* Message page */
.message1{
    width: 800px;
    background: var(--color-white);
    border-radius: 6px;
    padding: 30px 60px 40px 40px;
    box-shadow: var(--box-shadow);
    margin-top: 4rem;
    margin-left: 4rem;
}
.message1 .message1-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.message1 .message1-content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.message1 .message1-content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-primary);
}
 .message1-content .left-side .details i {
    font-size: 25px;
    color: var(--color-primary);
    margin-bottom: 10px;
}
.message1-content .left-side .details{
    margin: 14px;
    text-align: center;
}
.message1-content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
    color: var(--color-primary);
}
.message1-content .left-side .details .text-one,
.message1-content .left-side .details .text-two{
    font-size: 14px;
    color: #afafb6;
}
.message1 .message1-content .right-side{
    width: 75%;
    margin-left: 50px;
}
.message1-content .right-side .topic-text{
    font-size: clamp(23px, 10vw, 23px);
    font-weight: 600;
    color: var(--color-primary);
}
 .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
 }
.right-side .input-box select{
    height: 50%;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 2px;
    background-color: #f0f1f8;
    font-size: 16px;
    border: none;
    padding: 0 15px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    color: #24306e;
}
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 2px;
    background-color: #f0f1f8;
    border: none;
    padding: 0 15px;
    resize: none;
}
.right-side .input-box textarea::placeholder{
    font-size: 16px;
    color: #24306e;
    font-family: Poppins, sans-serif;
}
.right-side .message-box{
    min-height: 150px;
    margin-top: 6px;
}
.right-side .button{
    display: inline-block;
    margin-top: 50px;
}
.right-side button{
    color: var(--color-white);
    font-size: 16px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--color-primary);
    cursor: pointer;
    transition: all 0.3s ease;
}
.button button:hover{
    background: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.input-box span{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-primary);
}
/* message screen setting */
@media screen and (max-width:1200px){
    .message1{
        width: 800px;
        padding: 30px 35px 40px 35px;
        margin-left: 0rem;
    }
}
@media screen and (max-width:990px){
    .message1{
        width: 700px;
        padding: 30px 35px 40px 35px;
        margin-left: auto;
    }
}
@media screen and (max-width:900px){
    .message1{
        width: 620px;
        padding: 30px 35px 40px 35px;
        margin-left: auto;
    }
}
@media screen and (max-width:780px){
    .message1{
        margin: 40px 0;
        height: 100%;
        width: auto;
    }
    .message1 .message1-content{
        flex-direction: column-reverse;
    }
    .message1 .message1-content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .message1 .message1-content .left-side::before{
        display: none;
    }
    .message1 .message1-content .right-side{
        width: 100%;
        margin-left: 0;
    }
}
/* settings page */
.wrapper2 i{
    font-size: 22px;
    color: var(--color-primary);
}
.wrapper2 h1{
    color: var(--color-success);
    font-size: 1.8rem;
    margin-bottom: 5px;
    margin-top: 1px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.wrapper2  h2{
    color: var(--color-primary);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 2px;
    margin-top: 5px;
}
.wrapper2  input{
    border: 0;
    border-bottom: 1px solid var(--color-success);
    width: 80%;
    padding: 7px 0;
    font-size: 14px;
    outline: none;
    color: var(--color-primary);
    background: none;
}
.wrapper2  select{
    background: none;
    border: 1px solid var(--color-success);
    border-radius: 2px;
    list-style: none;
    /* height: 25px; */
    padding: 7px 2px;
    color: var(--color-primary);
    outline: none;
}
.wrapper2  .btn9{
    font-size: 16px;
    color: #fff;
    padding: 7px 15px;
    border: 0;
    outline: none;
    background: #24306e;
    cursor: pointer;
    border-radius: 25px;
    transition: all .3s ease;
    margin-left:35%;
    margin-top: 15px;
}
.wrapper2  .btn9:hover{
    background: none;
    border:1px solid var(--color-primary);
    color: var(--color-primary);


}
.wrapper2{
    width: 600px;
    height: auto;
    background: var(--color-white);
    border-radius: 16px;
    padding: 20px;
    margin-left: 150px;
    margin-top: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .wrapper2 header{
    height: 55px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    border-radius: 25px;
    position: relative;
  }
  header label{
    height: 100%;
    z-index: 2;
    width: 30%;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
  }
  #tab-1:checked ~ header .tab-1 i,
  #tab-2:checked ~ header .tab-2 i,
  #tab-3:checked ~ header .tab-3 i{
    color: var(--color-white);
  }
  header label:nth-child(2){
    width: 40%;
  }
 .wrapper2 header .slider{
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: var(--color-success);
    transition: all 0.3s ease;
  }
  #tab-1:checked ~ header .slider{
    left: 5%;
    width: 90px;
    transform: translateX(5%);
  }
  #tab-2:checked ~ header .slider{
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
  }
  #tab-3:checked ~ header .slider{
    left: 95%;
    width: 95px;
    transform: translateX(-105%);
  }
  .wrapper2 input[type="radio"]{
    display: none;
  }
  .wrapper2 .profile,
  .wrapper2 .setting,
  .wrapper2 .academic{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 5%;
  }
  .wrapper2 .academic h1{
    margin-bottom: 50px;
  }
  .wrapper2 .profile-photo1{
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
        margin-left: 45%;
  }
  .wrapper2 .setting .form-pic input{
    border-bottom: none;
    margin-left: 33%;
  }
  .wrapper2 .setting .form-pic label{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 37%;
    margin-top: 5px;
  }
  .wrapper2  .btn10{
    font-size: 12px;
    color: #fff;
    padding: 3px 10px;
    border: 0;
    outline: none;
    background: #24306e;
    cursor: pointer;
    border-radius: 5px;
    transition: all .3s ease;
    margin: 0px 45%;
}
.wrapper2  .btn10:hover{
    background: none;
    border:1px solid var(--color-primary);
    color: var(--color-primary);


}
  .wrapper2 .setting .form-pic button input{
    background: #24306e;
    padding: 2px;

  }

  .card-area{
    overflow: hidden;
  }
  .card-area .cards{
    display: flex;
    width: 300%;
  }
  .cards .row{
    width: 33.4%;
  }
  .cards .row-1{
    transition: all 0.3s ease;
  }
  #tab-1:checked ~ .card-area .cards .row-1{
     margin-left: 0%;
  }
  #tab-2:checked ~ .card-area .cards .row-1{
    margin-left: -33.4%;
  }
  #tab-3:checked ~ .card-area .cards .row-1{
     margin-left: -66.8%;
  }
  /* setting media queries */
@media screen and (max-width:1200px) {
    .wrapper2{
        width: 700px;
        margin-left: 50px;
        margin-top: 40px;
        box-sizing: border-box;
      }
      #tab-1:checked ~ header .slider{
        left: 8%;
        width: 90px;
        transform: translateX(5%);
      }
      #tab-2:checked ~ header .slider{
        left: 50%;
        width: 120px;
        transform: translateX(-50%);
      }
      #tab-3:checked ~ header .slider{
        left: 93%;
        width: 95px;
        transform: translateX(-105%);
      }
}
@media screen and (max-width: 920px){
    .wrapper2{
        width: 620px;
        margin-left: auto;
        margin-top: 40px;
      }
      
      #tab-1:checked ~ header .slider{
        left: 6%;
      }
      #tab-3:checked ~ header .slider{
        left: 94%;
      }
}
@media screen and (max-width:500px){
    .wrapper2{
        width: 550px;
      } 
}
@media screen and (max-width:500px) {
    .wrapper2{
        width: 380px;
        margin-left: -5px;
        margin-top: 10px;
      }
      #tab-1:checked ~ header .slider{
        left: 2%;
        width: 75px;
      }
      #tab-2:checked ~ header .slider{
        width: 80px;
      }
      #tab-3:checked ~ header .slider{
        left: 100%;
        width: 80px;
      }
 .wrapper2 .profile-photo1{
        margin-left: 40%;
  }
  .wrapper2 .setting .form-pic input{
    margin-left: 22%;
  }
  .wrapper2 .setting .form-pic label{
    margin-left: 28%;

  }
  .wrapper2  .btn10{

    margin: 0px 40%;
}
.wrapper2 .profile,
.wrapper2 .setting,
.wrapper2 .academic{
  margin-left: 3%;
}
}
@media screen and (max-width:400px) {
    #tab-1:checked ~ header .slider{
        left: 1%;
        width: 70px;
      }
    .wrapper2{
        margin-left: -8px;
        width: 355px;
      }
}
@media screen and (max-width:365px) {
    #tab-1:checked ~ header .slider{
        left: 1%;
        width: 70px;
        
      }
    .wrapper2{
        margin-left: -10px;
        width: 340px;
        margin-top: -5px;
      }
}
@media screen and (max-width:300px) {
    #tab-1:checked ~ header .slider{
        left: -1%;
        width: 60px;  
      }
      #tab-2:checked ~ header .slider{
        left: 50%;
        width: 80px;  
      }
      #tab-3:checked ~ header .slider{
        left: 100%;
        width: 65px;  
      }
    .wrapper2{
        margin-left: -10px;
        width: 250px;
        margin-top: -5px;
      }
      .wrapper2 .profile-photo1{
        margin-left: 30%;
  }
  .wrapper2 .setting .form-pic input{
    margin-left: 9%;
  }
  .wrapper2 .setting .form-pic label{
    margin-left: 15%;

  }
  .wrapper2  .btn10{

    margin: 0px 30%;
}
.btn-success{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    background-color: var(--color-success);
}
.btn-warning{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    background-color: var(--color-warning);
}
.wrapper2 .profile,
.wrapper2 .setting,
.wrapper2 .academic{
  margin-left: 2%;
}
.wrapper2  select{
    background: none;
    border: none;
    border-radius: none;
    list-style: none;
    padding: 7px 2px;
    color: var(--color-primary);
    outline: none;
}
}

  /*Dashboard screen setting  */
@media screen and (max-width:1200px) {
   .container{
    width: 94%;
    grid-template-columns: 7rem auto 23rem;
   } 
   aside .logo h2{
    display: none;
   }
   aside .sidebar h3{
    display: none;
   }
   aside .sidebar a{
    width: 5.6rem;
   }
   aside .sidebar a:last-child{
    position: relative;
    margin-top: 1.8rem;
   }
   main .insights{
    grid-template-columns: 1fr;
    gap: 0;
   }
   main .like{
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.1rem;
   }
   main .like table{
    width: 83vw;
   }
   /* main table thead tr th:last-child, */
   .like table thead tr th:first-child{
    display: none;
   } 
   .like table tbody tr td:last-child,
   .like table tbody tr td:nth-child(2){
    display: none;
   } 
   
}
/* mobile phones media query */
@media screen and (max-width:790px) {
    .container{
        width: 95%;
        grid-template-columns: 1fr;
    }
    aside{
        position: fixed;
        left: -100%;
        background: var(--color-white);
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 600ms ease forwards;
    }
    @keyframes showMenu {
        to{
            left: 0;
        }
    }
    aside .logo{
        margin-left: 1rem;
    }
    aside .logo h2{
        display: inline;
        font-size: 14px;
        margin-top: .5rem;
    }
    aside .sidebar h3{
        display: inline;
    }
    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }
    aside .sidebar a:last-child{
        position: absolute;
        bottom: 8rem;
    }
    aside .close{
        display: inline-block;
        cursor: pointer;
        margin-right: 0;
    }
    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }
    main .like{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }
    main .like table{
        width: 100%;
        margin: 0 auto 4rem;
    }
    .right{
        width: 94%;
        margin: 0 auto 4rem;
    }
    .right .top{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);

    }
    .right .theme-toggler {
        margin-top: 0.5rem;
    }
    .right .top .toggle{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }
    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }
    .right .profile .info{
        display: none;
    }
    .right .top button span{
        font-size: 2rem;
    }

    
}
/* payment page */
  .wrapper3{
    width: 600px;
    height: auto;
    background: var(--color-white);
    border-radius: 16px;
    padding: 20px;
    margin-left: 150px;
    margin-top: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .wrapper3 header{
    height: 55px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
    position: relative;
  }
  .header label{
    height: 100%;
    z-index: 2;
    width: 30%;
    display: flex;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    margin-left: 60px;
  }
  #hill-1:checked ~ header .hill-1,
  #hill-2:checked ~ header .hill-2{
    color: var(--color-white);
  }
  header label:nth-child(2){
    width: 40%;

  }
 header .slider{
    position: absolute;
    height: 85%;
    border-radius: inherit;
    background: var(--color-primary);
    transition: all 0.3s ease;
  }
  #hill-1:checked ~ .header .slider{
    left: 17%;
    width: 90px;
    transform: translateX(5%);
  }
  #hill-2:checked ~ .header .slider{
    left: 71%;
    width: 120px;
    transform: translateX(-50%);
  }
  .wrapper3 input[type="radio"]{
    display: none;
  }
  .card-area{
    overflow: hidden;
  }
  .card-area .cards{
    display: flex;
    width: 300%;
  }
  .cards .row{
    width: 33.4%;
  }
  .cards .row-1{
    transition: all 0.3s ease;
  }
  #hill-1:checked ~ .card-area .cards .row-1{
     margin-left: 0%;
  }
  #hill-2:checked ~ .card-area .cards .row-1{
    margin-left: -33.4%;
  }
  .row .price-details,
  .history,
  .refund{
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--color-primary);
  }
  .price-details .price{
    font-size: 65px;
    font-weight: 600;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    color: var(--color-success);
  }
  .price-details .price::before,
  .price-details .price::after{
    position: absolute;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
  }
  .price-details img{
    width: 25%;
    height: 25%;
    align-items: center;
    justify-content: center;
    margin: 0 38%;
  }
  .row .pay_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .row .pay_form h5{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--color-primary);
  }
  .row .pay_form input{
    background: none;
    border: 1px solid var(--color-dark-variant);
    border-radius: 3px;
    margin-bottom: 5px;
    width: 50%;
    height: 28px;
    padding: 2px;
    margin-left: 25%;
    color: var(--color-primary);
  }
  .row .pay_form input::placeholder{
    color: var(--color-dark-variant);
    font-size: 16px;
  }
  .row .pay_form button{
    background: #24306e;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 12px;
    width: 15%;
    margin: 15px 40%;
  } 
  /* Payment media screens */
  @media screen and (max-width:1200px) {
    .wrapper3{
        width: 700px;
        margin-left: 50px;
        margin-top: 40px;
        box-sizing: border-box;
      }
      .row .pay_form button{
        width: 25%;
      } 
      #hill-1:checked ~ .header .slider{
        left: 16.5%;
        width: 90px;
        transform: translateX(5%);
      }
      #hill-2:checked ~ .header .slider{
        left: 68%;
        width: 120px;
        transform: translateX(-50%);
      }
}
@media screen and (max-width: 920px){
    .wrapper3{
        width: 620px;
        margin-left: auto;
        margin-top: 40px;
      }
      #hill-1:checked ~ .header .slider{
        left: 16%;
      }
      #hill-2:checked ~ .header .slider{
        left: 70.5%;
      }
}
@media screen and (max-width:500px) {
    .wrapper3{
        width: 350px;
        margin-left: -5px;
        margin-top: 10px;
      }
      #hill-1:checked ~ .header .slider{
        left: 17.5%;
        width: 85px;
      }
      #hill-2:checked ~ .header .slider{
        width: 85px;
        left: 74%;
      }
}
@media screen and (max-width:400px) {
    #hill-1:checked ~ .header .slider{
        left: 20%;
        width: 70px;
      }
    .wrapper3{
        margin-left: -8px;
        width: 330px;
      }
}
@media screen and (max-width:365px) {
    #hill-1:checked ~ .header .slider{
        left: 20%;
        width: 70px;
        
      }
    #hill-2:checked ~ .header .slider{
        left: 80%;
        width: 100px;
        
      }
    .wrapper3{
        margin-left: -10px;
        width: 300px;
        margin-top: -5px;
      }
}
@media screen and (max-width:300px) {
    #hill-1:checked ~ .header .slider{
        left: 10%;
        width: 70px;  
      }
      #hill-2:checked ~ .header .slider{
        left: 72%;
        width: 80px;  
      }
      .header label{
       
        margin-left: 30px;
      }
    .wrapper3{
        margin-left: -10px;
        width: 250px;
        margin-top: -5px;
      }
}